<div class="card rounded shadow-sm">
    <form [formGroup]="form">
        <div class="p-3">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Tema</label>
                    <input type="text" class="form-control"
                     [ngClass]="cssValidator(f.tema)"
                     formControlName="tema" placeholder="Insira o Tema">
                    <!-- atribui o css caso tenha erros e seja tocado
                    atribui as mensagens certas-->
                    <div *ngIf="f.tema.errors?.required" 
                    class="invalid-feedback">
                        Tema é Obrigatorio
                    </div>
                    <div *ngIf="f.tema.errors?.minlength"
                    class="invalid-feedback">
                        Tema deve ter no mínimo 4 caracteres.
                    </div>
                    <div *ngIf="f.tema.errors?.maxlength"
                    class="invalid-feedback">
                        Tema deve ter no máximo 50 caracteres.
                    </div>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Local</label>
                    <input type="text" class="form-control" 
                    [ngClass]="cssValidator(f.local)"
                    formControlName="local" placeholder="">

                    <div *ngIf="f.local.errors?.required" 
                    class="invalid-feedback">
                        Local é Obrigatorio.
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <label>Data e Hora</label>
                    <input type="datetime" class="form-control" 
                    [ngClass]="cssValidator(f.dataEvento)"
                    value="{{evento.dataEvento | DateFormat}}"
                    bsDatepicker [bsConfig]="bsConfig"
                    formControlName="dataEvento" placeholder="">

                    <div *ngIf="f.dataEvento.errors?.required" 
                    class="invalid-feedback">
                        Data e Hora é Obrigatorio.
                    </div>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Qtd Pessoas</label>
                    <input type="text" class="form-control" 
                    [ngClass]="cssValidator(f.qtdPessoas)"
                    formControlName="qtdPessoas" placeholder="">

                    <div *ngIf="f.qtdPessoas.errors?.required" 
                    class="invalid-feedback">
                        Qtd Pessoas é Obrigatorio.
                    </div>
                    <div *ngIf="f.qtdPessoas.errors?.max" 
                    class="invalid-feedback">
                        Qtd Pessoas ultrapassou o limite.
                    </div>

                </div>
                <div class="form-group col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control" 
                    [ngClass]="cssValidator(f.telefone)"
                    formControlName="telefone" placeholder="(000) 90000-0000">

                    <div *ngIf="f.telefone.errors?.required" 
                    class="invalid-feedback">
                        Telefone é Obrigatorio.
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <label>e-mail</label>
                    <input type="text" class="form-control" 
                    [ngClass]="cssValidator(f.email)"
                    formControlName="email" placeholder="e-mail">

                    <div *ngIf="f.email.errors?.required" 
                    class="invalid-feedback">
                        e-mail é Obrigatorio.
                    </div>
                    <div *ngIf="f.email.errors?.email" 
                    class="invalid-feedback">
                        formato de e-mail invalido.
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <label>Imagem</label>
                    <input type="text" class="form-control" 
                    [ngClass]="cssValidator(f.imagemURL)"
                    formControlName="imagemURL" placeholder="imagem">

                    <div *ngIf="f.imagemURL.errors?.required" 
                    class="invalid-feedback">
                        Imagem é Obrigatorio.
                    </div>

                </div>
                
            </div>

        </div>

        <div class="card-footer">
            <!-- cor diferente fofinha -->
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border"
                (click)="resetForm()"> <!--limpa forms-->
                    Cancelar Alteração
                </button>
                <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    <!--spinner = da uma animação de carregando-->
                    Salvar Evento
                </button>
            </div>
        </div>
    </form>
</div>

