<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="@app/../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1" [formGroup]="form">
			<div class="pb-2 d-block d-md-none">
				<h3 class="border-bottom">Cadastro de Usuário</h3>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label>Primeiro Nome</label>
					<input type="text" class="form-control"
					[ngClass]="{'is-invalid': f.fistname.errors && f.fistname.touched}"
                    formControlName="fistname" placeholder="Insira o Primeiro nome" />

					<div class="invalid-feedback">
						Primeiro Nome é Obrigatorio.
                    </div>

				</div>

				<div class="form-group col-sm-6">
					<label>Último nome</label>
					<input type="text" class="form-control"
					[ngClass]="{'is-invalid': f.lastname.errors && f.lastname.touched}"
                    formControlName="lastname" placeholder="Insira o Último nome" />
				
					<div class="invalid-feedback">
						Último Nome é Obrigatorio.
                	</div>
				</div>

			</div>

			<div class="form-group">
				<label for="">e-mail:</label>
				<input class="form-control" type="text"
				[ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
                formControlName="email" placeholder="Insira o Nome Completo" />
			
				<div *ngIf="f.email.errors?.required" 
				class="invalid-feedback">
				e-mail é Obrigatorio.
				</div>
				<div *ngIf="f.email.errors?.email" 
				class="invalid-feedback">
				Formato de e-mail inválido.
				</div>
			</div>

			<div class="form-group">
				<label for="">Usuario:</label>
				<input class="form-control" type="text"
				[ngClass]="{'is-invalid': f.username.errors && f.username.touched}"
                formControlName="username"placeholder="Insira o nome de Usuário" />      
				
				<div class="invalid-feedback">
				Usuario é Obrigatorio.
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="">Senha:</label>
					<input class="form-control" type="password"
					[ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}"
                    formControlName="senha" placeholder="Digite uma Senha" />
				
					<div *ngIf="f.senha.errors?.required" 
                    class="invalid-feedback">
					Senha é Obrigatorio.
                	</div>
					<div *ngIf="f.senha.errors?.minlength" 
                    class="invalid-feedback">
					Senha deverá ser maior que 6 caracteres.
                	</div>
				</div>

				

				<div class="form-group col-sm-6">
					<label for="">Confirmar Senha:</label>
					<input class="form-control" type="password"
					[ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched}"
                    formControlName="confirmeSenha" placeholder="Confirme a Senha" />
				
					<div *ngIf="f.confirmeSenha.errors?.required" 
                    class="invalid-feedback">
                        Confirmar Senha é Obrigatorio.
                	</div>
					<div *ngIf="f.confirmeSenha.errors?.mustMatch" 
                    class="invalid-feedback">
                        Senhas Precisam ser iguais.
                	</div>
				</div>

			</div>
			<div class="form-row p-1 mb-3">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="customCheck1">
					<label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-12">
					<button class="btn btn-lg btn-success btn-block px-5">
						Registar
					</button>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-12">
					<a class="btn btn-link btn-block" [routerLink]="['/user/login']">
						Já sou Cadastrado
					</a>
				</div>
			</div>
		</form>

	</div>
</div>
