<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="https://www.allen.ac.in/ace2324/assets/images/register.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1" [formGroup]="form">
            <div class="pb-2 d-block d-md-none">
                <h3 class="border-bottom">Cadastro de Usuário</h3>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>Primeiro Nome</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="Insira o Primeiro nome"
                    [ngClass]="{'is-invalid': f.firstName.errors && f.firstName.touched}" />
                    <div class="invalid-feedback"> Primeiro nome é obrigatório </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Último nome</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Insira o Último nome"
                    [ngClass]="{'is-invalid': f.lastName.errors && f.lastName.touched}" />
                    <div class="invalid-feedback"> Último nome é obrigatório </div>
                </div>
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input class="form-control" type="text" formControlName="email" placeholder="Insira o E-mail"
                [ngClass]="{'is-invalid': f.email.errors && f.email.touched}">
                <div class="invalid-feedback" *ngIf="f.email.errors.required"> E-mail é obrigatório </div>
                <div class="invalid-feedback" *ngIf="f.email.errors.email"> E-mail inválido </div>
            </div>
            <div class="form-group">
                <label>Usuario:</label>
                <input class="form-control" type="text" formControlName="userName" placeholder="Insira o nome de Usuário"
                [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}" />
                <div class="invalid-feedback"> Nome de Usuário é obrigatório </div>      
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>Senha:</label>
                    <input class="form-control" type="password" formControlName="password" placeholder="Digite uma Senha"
                    [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" />
                    <div class="invalid-feedback" *ngIf="f.password.errors?.required && f.password.touched"> Senha é obrigatório </div>
                    <div class="invalid-feedback" *ngIf="f.password.errors?.minlength && f.password.touched"> Senha deve ter no minímo 6 caracteres </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Confirmar Senha:</label>
                    <input class="form-control" type="password" formControlName="confirmPass" placeholder="Confirme a Senha"
                    [ngClass]="{'is-invalid': f.confirmPass.errors && f.confirmPass.touched}" />
                    <div class="invalid-feedback" *ngIf="f.confirmPass.errors?.required && f.confirmPass.touched"> Confirme a Senha é obrigatório </div>
                    
                </div>
            </div>
            <div class="form-row p-1 mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button class="btn btn-lg btn-success btn-block px-5">
                        Registar
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" routerLink="/user/login">
                        Já sou Cadastrado
                    </a>
                </div>
            </div>
        </form>

	</div>
</div>